body {
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #555555;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 1%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute ;
    bottom: 0;
}

.navBarRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navItem1 {
    padding-left: 2rem;
    padding-right: 50rem;
    color: aliceblue;
}

.navItem2 {
    padding-left: 2rem;
    padding-right: 2rem;
    color: aliceblue;
}

.boutonRecherche{
    width: 30px;
}

.submit{
    width: 2%;
    height: 2%;
}

.champDeRecherche {
    display: flex;
    flex-direction: row;

    align-items: center;


}

.footItem {
    padding-left: 2rem;
    padding-right: 2rem;
}