

body {
    font-family: arial, sans-serif;
    align-items: center;
}

header {
    width: 100%;
    background-color: #555555;
    align-items: center;
}



footer {
    position: absolute;
    bottom: 0;
}

.navBarRight {
    float: right;
    padding-top: 3rem;
}

.navItem {
    float: left;
    padding-left: 2rem;
    padding-right: 2rem;
    color: aliceblue;
}

.boutonRecherche{
    width: 30px;
}

.zoneRecherche {
    padding-top: 15%;
    text-align: center;

}

.champDeRecherche{
    width: 200px;
    
}

.reseauxSociaux{
    text-align: center;
    float:left
}

.copyright{
    text-align: center;
    float: right;
}